{{define "css"}}
  <style>
    .alias-form {
      padding: 0.5em;
      line-height: 200%;
    }
    .alias-form submit {
      display: inline;
      font-size: 120%;
    }
    .alias-form input {
      font-size: 120%;
    }
    .delete-form {
      display: block;
      margin-top: 0.5em;
    }
  </style>
{{ end }}
