{{define "title"}}Alias - Show{{end}}
{{define "css"}}
  <style>
    .alias-show h2 {
      font-size: 120%;
    }
    .alias-show span {
      font-size: 100%;
    }
    .alias-show label {
      font-size: 100%;
    }
  </style>
{{end}}
{{define "content"}}
  {{with .Data}}
    <article class="alias-show">

      <h2>{{.Old}} &rarr; {{.New}}</h2>
      <time>{{.FmtCreated}}</time> by <a href="/user/{{.Username}}">{{.Username}}</a>
      <p><label for="comment">Comment:</label> <span id="comment">{{filterEmpty .Comment "-"}}</span></p>
      <p><label for="status">Status:</label> <span id="status">{{.Status}}</span></p>

    </article>
  {{end}}
{{ end }}
