{{define "subnav"}}
<div id="subnav">
	<a href="/suggest">New suggestion</a>
	<a href="/suggest/alias">Suggested alias</a>
	<form class="subnav-button-form" method="post" action="/suggest/logout">
	     <input class="subnav-button-link" type="submit" value="Logout">
	</form>
</div>
{{end}}
